* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100vh;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    font-family: "Montserrat", sans-serif;
}
.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    background-color: rgb(164, 241, 203);
}
.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
}
.logo {
    width: 60px;
    height: 60px;
}
.logo:hover {
    width: 65px;
    height: 65px;
    transition: all ease 0.3s;
}
header h1 {
    font-size: 42px;
}
.add {
    height: 55px;
    width: 200px;
    font-size: 16px;
    border-radius: 70px;
    background-color: rgb(0, 8, 122);
    color: white;
}
.add:hover {
    color: rgb(0, 8, 122);
    background-color: white;
    transition: all ease 0.6s;
}
.popup {
    position: fixed;
    right: 50%;
    top: 50%;
    width: 0%;
    height: 0%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", sans-serif;
}
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    padding: 20px 20px 100px 20px;
    width: 30%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
}
.close {
    color: black;
    margin-left: 95%;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.popup-content h1 {
    font-size: 24px;
}
.popup-task {
    width: 60%;
    height: 30px;
}
.popup-date {
    width: 60%;
    height: 30px;
}
.popup-description {
    width: 60%;
    height: 30px;
}
.add-item {
    width: 35%;
    height: 43px;
    border-radius: 50px;
    font-size: 18px;
}
.list-item {
    display: flex;
    height: 80px;
    background-color: rgb(255, 71, 71);
    align-items: center;
    font-size: 18px;
}
.checked {
    background-color: rgb(175, 175, 175);
}
.list-item.delete {
    animation: delition 1s ease;
}
.item-content {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 30px;
}
.task {
}
.date {
}
.description {
}
.status {
}
.close-item {
    color: black;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 30px;
}
@keyframes delition {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media only screen and (min-width: 1224px) {
    .popup-content {
        margin: 120px auto;
        width: 400px;
        height: 500px;
        padding: 20px 20px 50px 20px;
    }
    .popup-content h1 {
        font-size: 24px;
    }
    .popup-task,
    .popup-date,
    .popup-description {
        width: 70%;
        height: 35px;
    }
    .add-item {
        width: 50%;
        height: 45px;
        font-size: 20px;
    }
    header h1 {
        font-size: 36px;
    }
    .list-item {
        height: 65px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .top-content {
        height: 85px;
        padding: 0px 20px;
    }
    .logo-link {
        width: 55px;
        height: 55px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .logo:hover {
        width: 55px;
        height: 55px;
    }
    header h1 {
        font-size: 32px;
    }
    .add {
        height: 50px;
        width: 170px;
        font-size: 15px;
    }
    .list-item {
        height: 60px;
        font-size: 14px;
    }
    .popup-content {
        margin: 120px auto;
        width: 315px;
        height: 375px;
        padding: 20px 20px 50px 20px;
    }
    .popup-content h1 {
        font-size: 20px;
    }
    .popup-task,
    .popup-date,
    .popup-description {
        width: 70%;
        height: 30px;
    }
    .add-item {
        width: 50%;
        height: 35px;
        font-size: 16px;
    }
}
@media screen and (max-width: 991px) {
    .list-item {
        height: 60px;
        font-size: 14px;
    }
    header h1 {
        font-size: 34px;
    }
    .popup-content {
        margin: 120px auto;
        width: 35%;
        height: 350px;
        padding: 20px 20px 50px 20px;
    }
    .popup-content h1 {
        font-size: 18px;
    }
    .popup-task,
    .popup-date,
    .popup-description {
        width: 70%;
        height: 25px;
    }
    .add-item {
        width: 50%;
        height: 30px;
        font-size: 14px;
    }
    .add {
        height: 45px;
        width: 180px;
        font-size: 14px;
    }
    .logo-link {
        width: 55px;
        height: 55px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .logo:hover {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 767px) {
    .popup-content {
        width: 300px;
        height: 350px;
        padding: 20px 20px 50px 20px;
    }
    .popup-content h1 {
        font-size: 18px;
    }
    .popup-task,
    .popup-date,
    .popup-description {
        width: 70%;
        height: 25px;
    }
    .add-item {
        width: 50%;
        height: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .list-item {
        height: 50px;
        font-size: 10px;
    }
    .top-content {
        height: 70px;
        padding: 0px 20px;
    }
    header h1 {
        font-size: 24px;
    }
    .popup-content {
        width: 60%;
        height: 300px;
        padding: 20px 20px 50px 20px;
    }
    .add {
        height: 35px;
        width: 120px;
        font-size: 10px;
    }
    .logo-link {
        width: 45px;
        height: 45px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .logo:hover {
        width: 45px;
        height: 45px;
    }
    .checkbox {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
    }
    .close-item {
        font-size: 24px;
        margin: 0px 5px;
    }
    .popup-content h1 {
        font-size: 18px;
    }
    .popup-task {
        width: 75%;
        height: 25px;
    }
    .popup-date {
        width: 75%;
        height: 25px;
    }
    .popup-description {
        width: 75%;
        height: 25px;
    }
    .add-item {
        width: 50%;
        height: 30px;
        border-radius: 50px;
        font-size: 12px;
    }
    .close {
        margin-left: 90%;
        font-size: 24px;
    }
}
